<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    <button class="btn">Primary</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-alert">Alert</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-light">Light</button>
    <button class="btn btn-dark">Dark</button>
    <button class="btn btn-link">Link</button>

    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-alert">Alert</button>
    <button class="btn btn-outline-warning">Warning</button>
    <button class="btn btn-outline-success btn-pill">Success</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-light">Light</button>
    <button class="btn btn-outline-dark">Dark</button>

    <button class="btn btn-primary btn-pill">Primary</button>
    <button class="btn btn-alert btn-pill">Alert</button>
    <button class="btn btn-warning btn-pill">Warning</button>

    <button class="btn btn-primary btn-disabled">Primary</button>
    <button class="btn btn-alert btn-disabled">Alert</button>
    <button class="btn btn-warning btn-disabled">Warning</button>

    <button class="btn btn-alert">
        <i class="fas fa-exclamation-triangle btn-icon"></i>
        <span class="btn-text">Alert</span>
    </button>
    <button class="btn btn-warning">
        <span class="btn-text">Warning</span>
        <i class="fas fa-exclamation-circle btn-icon"></i>
    </button>
    
    <div class="fab-container" >
        <div class="fab fab-icon-holder">
            <i class="fas fa-question"></i>
        </div>

        <ul class="fab-options">
            <li>
                <span class="fab-label">Docs</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-file-alt"></i>
                </div>
            </li>

            <li>
                <span class="fab-label">Docs</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-video"></i>
                </div>
            </li>

            <li>
                <span class="fab-label">Docs</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-comments"></i>
                </div>
            </li>

            <li>
                <span class="fab-label">Docs</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-comment-alt"></i>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>