<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    
    <img class="avatar avatar-xsmall" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar-profile">
    
    <img class="avatar avatar-small" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar-profile">

    <img class="avatar avatar-medium" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar-profile">

    <img class="avatar avatar-large" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar-profile">

    <img class="avatar avatar-xlarge" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar-profile">

</body> 
</html>