<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>This is H1 text</h1>
    <h2>This is H2 text</h2>
    <h3>This is H3 text</h3>
    <h4>This is H4 text</h4>
    <h5>This is H5 text</h5>
    <h6>This is H6 text</h6>

    <p class="h1">This is H1 text</p>
    <p class="h2">This is H2 text</p>
    <p class="h3">This is H3 text</p>
    <p class="h4">This is H4 text</p>
    <p class="h5">This is H5 text</p>
    <p class="h6">This is H6 text</p>

    <div class="center-text">This how to align the text using CSS class</div>
    <div class="left-text">This how to align the text using CSS class</div>
    <div class="right-text">This how to align the text using CSS class</div>


</body>
</html>