<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    <ul class="ul-square-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ul>

    <ul class="ul-circle-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ul>

    <ul class="ol-disc-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ul>

    <ol class="ol-lower-aplha-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ol>

    <ol class="ol-upper-aplha-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ol>

    <ol class="ol-lower-roman-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ol>

    <ol class="ol-upper-roman-list">
        <li>Kroos</li>
        <li>Ramos</li>
        <li>Benzema</li>
    </ol>

    <ul class="stacked-list">
        <li class="stacked-list-item">Modric</li>
        <li class="stacked-list-item">Vinicius</li>
        <li class="stacked-list-item">Valverde</li>
        <li class="stacked-list-item">Courtois</li>
    </ul>

</body>
</html>