<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    
    <title>Document</title>
</head>
<body>
    <div class="modal-container">
        <div class="modal-title">Modal Title</div>
        <div class="modal-body">Modal body text goes here</div>
        <div class="modal-action-btns">
            <button class="modal-btn modal-alert-btn">Delete</button>
            <button class="modal-btn modal-success-btn">Save</button>
        </div>
    </div>
</body>
</html>