<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-primary">
        <p>This is example of a primary alert</p>
    </div>

    <div class="alert alert-secondary">
        <p>This is example of a secondary alert</p>
    </div>

    <div class="alert alert-success">
        <p>This is example of a success alert</p>
    </div>

    <div class="alert alert-danger">
        <p>This is example of a danger alert</p>
    </div>

    <div class="alert alert-warning">
        <p>This is example of a warning alert</p>
    </div>

    <div class="alert alert-light">
        <p>This is example of a light alert</p>
    </div>

    <div class="alert alert-dark">
        <p>This is example of a dark alert</p>
    </div>


    <div class="alert alert-primary">
        <p>This is primary alert with <a href="#" class="alert-link">an example link</a></p>
    </div>

    <div class="alert alert-success alert-icon-container">
        <i class="far fa-check-circle alert-icon"></i>
        <p>This is example of a success alert with icon</p>
    </div>

    <div class="alert alert-danger alert-icon-container">
        <i class="fas fa-times alert-icon"></i>
        <p>This is example of a danger alert with icon</p>
    </div>

    <div class="alert alert-warning alert-icon alert-icon-container">
        <i class="fas fa-exclamation-triangle alert-icon"></i>
        <p>This is example of a warning alert with icon</p>
    </div>

</body>
</html>